header {
  border-bottom: 1px solid grayscale($color: #CCC);
}

.title {
  padding-left: 10px;
  padding-top: 10px;
}

.navbar-menu {
  @media screen and (max-width: 1023px) {
    position: absolute;
    width: 100%;
  }
}
